body {
    margin:0;
    background-color: #eaeaea;
    font-family: Arial, Helvetica, sans-serif
}

.wrapper{
    width: 600px;
    margin: 15px auto;
}

.header{
    background-color: white;
    padding: 20px 0 20px 0;
}
h1 {
    margin: 0;
}

.post{
    background-color: white;
    margin-top: 50px;
}
.post-header p{
  float: left;
  padding-left: 10px;
}

.text-muted{
    float: right;
    color: rgb(182, 178, 178);
    margin-top: 15px;
    padding-right: 10px;
}

.post-img{
    overflow: hidden;
    width: 100%;
}

img{
    width: 100%;
}

.post-body{
    padding: 10px;
    text-align: justify;
}
